<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breast Cancer (Wisconsin Study)</title>
</head>
<body>
    <form action="{{ url_for('predict')}}" method="POST">
        Cell Thickness:  <input type="number" name="Thickness"><br>
        Cell Size:   <input type="number" name="Size"><br>
        Cell Shape:  <input type="number" name="Shape"><br>
        Adhesion:   <input type="number" name="Adhesion"><br>
      
        <input type=submit    value=Submit>
   </form>
    My prediction: {{ predict }}
</body>
</html>